.hero.row-duo {
  display: flex;
  align-items: center;
  @include container(200px);
  padding-bottom: 0px;

  .hero__content {
    width: 50%;

    .btn {
      display: inline-block;
      margin: 10px 0;
    }

    .stars {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .hero__img {
    width: 50%;
    height: auto;
  }
}

@include maxWidth(950px) {
  header {
    .hero.row-duo {
      flex-direction: column-reverse;
      @include container(150px 30px);

      .hero__content {
        width: 100%;
      }

      .hero__img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}

@include maxWidth(850px) {
  header {
    .hero.row-duo {
      @include container(60px 30px);
    }
  }
}
