a {
  text-decoration: none;
  font-size: 1.8rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

h1 {
  font-size: 6rem;
  font-weight: $SemiBold;
  line-height: 7rem;
  text-align: center;
  padding-top: 160px;
  margin-bottom: -25px;
}

h2 {
  font-weight: $SemiBold;
  font-size: 4.6rem;
  line-height: 5.6rem;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 3.6rem;
  font-weight: $SemiBold;
  line-height: 4.2rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: $SemiBold;
}

.sup-h {
  font-size: 2.2rem;
  font-weight: $Meduim;
  color: $lightgray;
  line-height: 3rem;
}

.sub-h {
  font-size: 2rem;
  font-weight: $Regular;
  color: $lightgray;
  line-height: 2.8rem;
}

p,
li {
  color: $black;
  font-size: 1.8rem;
  font-weight: $Regular;
  line-height: 3rem;
  margin: 10px 0;
}

.gray {
  color: $darkgray;
}

.highlighted {
  font-weight: $SemiBold;
}

.small {
  font-size: 1.6rem;
}

.pricing__card-heading {
  font-size: 2.8rem;
  font-weight: $SemiBold;
  text-align: center;
}

.pricing__card-price {
  font-size: 5rem;
  font-weight: $Regular;
}

.pricing__card-select {
  font-size: 1.6rem;
}

.form__label {
  font-size: 1.6rem;
  color: $lightgray;
  font-weight: $SemiBold;
}

.form__label--small {
  font-size: 1.6rem;
  color: $lightgray;
  font-weight: $SemiBold;
}

.form__label--small {
  font-size: 1.4rem;
  font-weight: $SemiBold;
}

.testi__text {
  color: $darkgray;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 2.8rem;
}

.testi__name,
.benefits__card-heading {
  color: $blue;
  font-size: 2rem;
  font-weight: $SemiBold;
}

.testi__title {
  color: $black;
  font-size: 1.5rem;
  font-weight: $Regular;
}

.team__title {
  font-size: 1.5rem;
  font-weight: $SemiBold;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.team__name {
  font-size: 2rem;
  font-weight: $SemiBold;
}

.nav__link {
  color: $lightgray;
  font-size: 2rem;
  font-weight: $Regular;
}

.nav__link--current {
  font-size: 2rem;
  color: $black;
  font-weight: $SemiBold;
}

.prod-nav__link {
  color: $lightgray;
  font-size: 2.2rem;
  font-weight: $Regular;
}

.prod-nav__link--current {
  font-weight: $SemiBold;
  color: $black;
}

.faq__heading {
  font-size: 2rem;
  font-weight: $SemiBold;
}

.article__pitch-item p {
  font-size: 1.6rem;
  font-weight: $SemiBold;
  line-height: 2rem;
}

.pitch--blue {
  font-size: 2.6rem;
  color: $blue;
  font-weight: $SemiBold;
  line-height: 3rem;
}

.try-us {
  font-size: 2.2rem;
  color: $orange;
  font-weight: $Regular;
}

.read-more span {
  font-size: 1.6rem;
  color: $lightgray;
}

.copy {
  color: $lightgray;
  font-size: 1.8rem;
}

.footer__heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.footer__text {
  font-size: 1.6rem;
}

.footer__copy {
  color: $lightgray;
  font-size: 1.4rem;
}

.btn {
  color: $white;
  font-size: 18px;
  font-weight: $SemiBold;
}

.--semi-bold {
  font-weight: $SemiBold;
}

.--bold {
  font-weight: $Bold;
}

@include maxWidth($bp-tablet) {
  h1 {
    font-size: 4.6rem;
    margin-bottom: -50px;
  }
}

@include maxWidth(850px) {
  h1 {
    padding-top: 100px;
  }
}

@include maxWidth($bp-mobile) {
  h1 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: -40px;
  }

  h2 {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  p,
  li {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  p.small {
    // font-size: 1.4rem;
  }

  .sup-h {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .sub-h {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .pricing__card-heading {
    font-size: 2.4rem;
  }

  .pricing__card-price {
    font-size: 3.4rem;
  }

  .testi__name {
    font-size: 1.6rem;
  }

  .testi__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .testi__title {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  .faq__heading {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .pitch--blue {
    font-size: 2rem;
  }
}
