/* Color scheme */
$black: #252525;
$darkblue: #1d2a3b;
$darkgray: #54585d;
$blue: #5064f6;
$lightgray: #747e8c;
$white: #fff;
$orange: #eb623f;

/* Background colors */
$col-bg: $white;

/* Standardized padding */
$padding-div: 20px;
$padding-section: 125px 0;

/* Font fams */
$font-main: 'Poppins', sans-serif;

$bp-mobile: 500px;

/* Font Weight */
$Lighter: 300;
$Regular: 400;
$Meduim: 500;
$SemiBold: 600;
$Bold: 800;
