/* Color scheme */
$black: #252525;
$darkblue: #1d2a3b;
$darkgray: #54585d;
$blue: #5064f6;
$lightgray: #747e8c;
$white: #fff;
$orange: #eb623f;
$texts-red: #e92a1b;
$photos-blue: #3e75b2;
$reviews-yellow: #f4bb32;

/* Background colors */
$col-bg: $white;

/* Standardized padding */
$padding-div: 20px;
$padding-section: 125px 0;

/* Font fams */
$font-main: 'Poppins', sans-serif;

$bp-mobile: 767px;
$bp-tablet: 1023px;

/* Font Weight */
$Lighter: 300;
$Regular: 400;
$Meduim: 500;
$SemiBold: 600;
$Bold: 800;
