.avatar-figure {
  width: 100%;
  max-width: 150px;
  .avatar-figure__img {
    clip-path: circle(50%);
  }
}

.testimonial__avatar {
  width: 90px;
  height: 90px;
  clip-path: circle(50%);
  margin-right: 10px;
}
