.footer {
  background: rgba(80, 100, 246, 0.1);
  margin-top: 50px;
}

.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include container(100px);

  @include maxWidth($bp-tablet) {
    @include container(100px, 30px);
  }

  @include maxWidth($bp-mobile) {
    @include container(100px, 20px);
  }

  .footer__about {
    max-width: 550px;

    .footer__logo,
    img {
      max-width: 200px;
      margin-bottom: 10px;
    }
  }

  .footer__links {
    margin: 0 40px;
    .menu-footer-menu-container {
      .menu {
        li {
          a {
            line-height: 3.8rem;
          }
        }
      }
    }
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__copy {
    margin-top: 50px;
  }
}

@include maxWidth(1200px) {
  .footer__content {
    flex-wrap: wrap;

    .footer__links {
      margin: 0;
    }

    .footer__contact,
    .footer__links {
      margin-top: 50px;
      width: 100%;
    }
  }
}
