.container {
  .form-article {
    @include maxWidth($bp-tablet) {
      flex-direction: column-reverse;
    }

    .article__spacer {
      padding: 20px;
    }
  }
}

.contact {
  .container {
    .form-article {
      .article__text {
        ul {
          // margin-bottom: 20px;

          li {
            font-size: 1.6rem;
            color: $darkgray;
            margin-bottom: 30px;

            i {
              font-size: 3rem;
              vertical-align: middle;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
