.products {
  .row-duo {
    min-width: 100%;
    justify-content: center;

    .article__figure {
      max-width: 200px;
    }
    .article__text {
      max-width: 812px;
      width: 100%;
    }
  }
  .carousel {
    //
    .carousel__inner {
      .row-duo {
        min-width: 100%;
        justify-content: center;
      }
    }
  }
  .carousel__nav {
    //
    button {
      //

      &.--current {
        //
      }
    }
  }
}
