.team {
  @extend .row-quad;

  .team__item {
    @extend .row-quad__item;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include maxWidth($bp-tablet) {
      margin-bottom: 30px;
    }

    .team__figure {
      max-width: 150px;
      // width: 100%;
      height: auto;
      clip-path: circle(50%);
      display: flex;
      justify-content: center;

      @include maxWidth($bp-mobile) {
        max-width: 100px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .team__info {
      text-align: center;
      .team__name {
        //
      }
      .team__title {
        //
      }
    }
  }
}
