#team {
  h2 {
    margin-bottom: 20px;
  }
}

.team {
  @extend .row-quad;

  .team__item {
    @extend .row-quad__item;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include maxWidth($bp-tablet) {
      margin-bottom: 30px;
    }

    .team__figure {
      max-width: 150px;
      width: 100%;
      clip-path: circle(50%);

      @include maxWidth($bp-mobile) {
        max-width: 100px;
      }

      .team__img {
        //
      }
    }

    .team__info {
      text-align: center;
      .team__name {
        //
      }
      .team__title {
        //
      }
    }
  }
}
