/* Modifiers */
.--bg-blue-figure {
  background: url('../images/section_bg--blue.svg') no-repeat 50% top/cover;
}

.--bg-pink {
  background: rgba(235, 98, 63, 0.1);
}

.--align-center {
  align-items: center;
}

.--reverse {
  flex-direction: row-reverse;
}

.full-width {
  width: 100% !important;
  max-width: none !important;
}

.--nth-reverse-even {
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.--nth-reverse-odd {
  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}
