/* Modifiers */
.--bg-blue {
  background: #5064f61a;
}

.--bg-pink {
  background: #eb623f1a;
}

.--align-center {
  align-items: center;
}

.--reverse {
  flex-direction: row-reverse;
}

.full-width {
  width: 100% !important;
  max-width: none !important;
  input {
    width: 100%;
  }
}

.--nth-reverse-even {
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.--nth-reverse-odd {
  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}
