.row-quad {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .row-quad__item {
    width: 25%;

    @include maxWidth($bp-tablet) {
      min-width: 50%;
    }

    @include maxWidth(550px) {
      min-width: 100%;
    }
  }
}
