/* ROW DUO - Article with 50%/50% row layout */
.row-duo {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  align-items: center;

  &:last-of-type() {
    margin-bottom: 0;
  }

  .article__spacer {
    padding: 20px;
  }

  .article__row {
    display: flex;
    justify-content: space-between;

    .btn {
      align-self: flex-end;
      margin-bottom: 10px;
    }
  }
}

@include maxWidth($bp-tablet) {
  .row-duo {
    flex-direction: column;

    .article__spacer {
      padding: 5px;
    }
  }
}

@include maxWidth($bp-mobile) {
  .row-duo {
    .article__row {
      flex-direction: column;
      .btn,
      .wp-block-button__link {
        min-width: 200px;
        align-self: flex-start;
      }
    }

    .btn,
    .wp-block-button__link {
      min-width: 200px;
      align-self: flex-start;
    }
  }
}
