.four-oh-four {
  margin: auto;
  max-width: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 300px;
    height: auto;
    margin-bottom: 30px;

    @include maxWidth($bp-tablet) {
      max-width: 200px;
    }

    @include maxWidth($bp-mobile) {
      max-width: 150px;
    }
  }

  p {
    text-align: center;
  }
}
