.contact-article {
  @extend .row-duo;

  @include maxWidth($bp-tablet) {
    flex-direction: column-reverse;
  }

  form {
    width: 50%;
  }

  .article__spacer {
    padding: 20px !important;
  }

  .article__text {
    width: 50%;

    ul {
      li {
        font-size: 1.6rem;
        color: $darkgray;
        margin-bottom: 30px;

        i {
          font-size: 3rem;
          vertical-align: middle;
          margin-right: 20px;
        }
      }
    }
  }
}

@include maxWidth($bp-tablet) {
  .contact-article {
    form,
    .article__text {
      width: 100%;
      max-width: 650px;
    }
  }
}
