.icon-article {
  @extend .row-duo;

  justify-content: center;
  align-items: center;

  @include maxWidth($bp-tablet) {
    &:nth-of-type(even),
    &:nth-of-type(odd) {
      flex-direction: column !important;
    }
  }

  .article__figure {
    max-width: 200px;

    @include maxWidth($bp-tablet) {
      max-width: 150px;
    }

    @include maxWidth($bp-mobile) {
      max-width: 100px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .article__spacer {
    padding: 5px;
  }

  .article__text {
    max-width: 812px;
    width: 100%;
  }
}
