.icon-article {
  @extend .row-duo;

  justify-content: center;
  margin: auto;
  align-items: center;

  .article__figure {
    max-width: 200px;
  }
  .article__text {
    max-width: 812px;
    width: 100%;
  }
}
