.image-article {
  @extend .row-duo;

  .article__figure {
    width: 50%;
  }

  .article__text {
    width: 50%;

    .pitch--blue {
      margin: 20px 0;
    }

    .btn {
      margin-top: 10px;
    }
  }
}
