.image-article {
  @extend .row-duo;

  .article__figure {
    width: 50%;
  }

  .article__text {
    width: 50%;

    .btn {
      margin-top: 10px;
    }
  }
}

@include maxWidth($bp-tablet) {
  .image-article {
    .article__text,
    .article__figure {
      width: 100%;
      max-width: 650px;

      .btn {
        margin-top: 10px;
      }
    }
  }
}
