.image-article {
  @extend .row-duo;

  .article__figure {
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .article__text {
    width: 50%;

    .btn {
      margin-top: 10px;
    }
  }
}

@include maxWidth($bp-tablet) {
  .image-article,
  .image-article.--nth-reverse-even {
    &:nth-of-type(even),
    &:nth-of-type(odd) {
      flex-direction: column;
    }

    .article__text,
    .article__figure {
      width: 100%;
      max-width: 650px;

      .btn {
        margin-top: 10px;
      }
    }
  }
}
