.products {
  .product-wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .product-article {
      @extend .row-duo;

      min-width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px !important;

      .article__figure {
        max-width: 200px;

        @include maxWidth($bp-tablet) {
          max-width: 150px;
        }
      }
      .article__text {
        max-width: 812px;
        width: 100%;
      }
    }
    .testimonial {
      min-width: 100%;
      max-width: 400px;
    }
  }
}
