// COLUMN LAYOUT
.supporting-article--col {
  @include container(25px, 20px, 100px);

  margin: auto;
  text-align: center;
  max-width: 960px;

  figure {
    margin: auto;
    max-width: 50%;
    height: auto;
    width: fit-content;

    img {
      width: 100%;
      height: auto;
    }
  }

  .article__text {
    h2 {
      margin: auto;
    }
    .sub-h {
      margin-bottom: 20px;
    }
    .btn,
    .wp-block-buttons .wp-block-button .wp-block-button__link {
      margin-top: 10px;
    }

    .wp-block-buttons {
      display: flex;
      justify-content: center;
    }
  }
}

@include maxWidth($bp-tablet) {
  .supporting-article--col {
    @include container(0px, 20px, 50px);

    .article__figure {
      max-width: 370px;
    }
  }
}

// ROW LAYOUT
.supporting-article--row {
  @include container(25px, 20px, 100px);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  .article__text {
    min-width: 50%;
    max-width: 812px;

    .sub-h {
      margin-bottom: 30px;
    }

    .btn {
      //
    }
  }

  .article__spacer {
    padding: 30px;
  }

  .article__figure {
    width: fit-content;
    max-width: 250px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@include maxWidth($bp-tablet) {
  .supporting-article--row {
    @include container(0px, 20px, 50px);

    flex-direction: column !important;
    align-items: center;
    text-align: center;

    .article__spacer {
      padding: 5px;
    }

    .article__figure {
      width: 100%;
      max-width: 200px;
      margin: auto;
      img {
        width: 100%;
        height: auto;
      }
    }

    .wp-block-buttons {
      display: flex;
      justify-content: center;
    }
  }
}
